:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(8rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: var(--font-display);
  font-weight: 400; }

.heading-2 {
  font-size: 5rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: var(--color-grey-light-1); }
  .heading-2--dark {
    color: var(--color-grey-dark-1); }

.heading-3 {
  color: var(--color-primary);
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: var(--color-grey-light-1); }
  .heading-4--dark {
    color: var(--color-grey-dark-1); }

.btn {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 0;
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none; }
  .btn:hover {
    background-color: var(--color-primary-dark); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lr {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start / col-end 6; }

.realtours {
  background-color: var(--color-secondary);
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem; }
  .feature__icon {
    fill: var(--color-primary);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 115%;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  background-color: var(--color-grey-light-1);
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem; }

.home {
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem; }
  .home__image {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1; }
  .home__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem;
    z-index: 2; }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 80%;
    justify-self: center;
    align-self: end;
    font-family: var(--font-display);
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color-secondary);
    color: #fff;
    z-index: 3;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: var(--color-primary);
      height: 2rem;
      width: 2rem; }
  .home__btn {
    grid-column: 1 / -1; }

.gallery {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start / full-end; }

.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end; }
